<html lang="en" class="skrollr skrollr-desktop"><head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-6YWB4ECCWW"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-6YWB4ECCWW');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" /> -->

  <!-- Libs CSS -->
  <link rel="stylesheet" href="/assets/css/libs.bundle.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="/assets/css/index.bundle.css">
  <style>
    .nav-minimal .nav-link:hover {
        color: #dc7257 !important;
    }
    .text-primary-hover:hover {
        color: #dc7257 !important;
    }
    a {
      color: #dc7257;
      text-decoration: none;
    }
    a:hover {
        color: #dc7257;
    }

    .text-primary{
          color: #d34f2d !important;
    }
  </style>
  <!-- Title -->
  <title>Aomoxo Plan</title></head>
<%
    var en = path.indexOf("en/");
%>
<body class="<%- page.title=="index"?"bg-black":page.title=="404"?"bg-red":"" %> headroom headroom--top headroom--not-bottom" data-aos-easing="ease" data-aos-duration="800" data-aos-delay="0">


  <!-- navbar -->
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-dark">
    <div class="container">
      <a href="/<%- (en == 0) ? 'en/' : '' %>index.html" class="navbar-brand">
        <span style="color:#dc7257;font-size:39px;font-weight:600">A</span>
        PLAN</a>

        <ul class="navbar-nav navbar-nav-secondary order-lg-3">
          <li class="nav-item">
            <%if(en == 0){%>
            <a class="nav-link" href="/<%- path.substr(en+3) %>">
              中文
            </a>
            <% } else {%>
            <a class="nav-link" href="/en/<%- path %>">
              English
            </a>

            <% } %>
          </li>
                <li class="nav-item">
                  <a class="nav-link nav-icon" data-bs-toggle="offcanvas" href="#offcanvasNav" role="button" aria-controls="offcanvasNav">
                    <span class="bi bi-list"></span>
                  </a>
                </li>
              </ul>



    </div>
  </nav>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel" aria-modal="true" role="dialog">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavLabel">
          <%if(en == 0){%>
            Content of Aomoxo Plan
          <% } else {%>
            方案目录
          <% } %>
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="nav nav-minimal" id="toc-nav">
          <li class="nav-item">
            <a class="nav-link fs-4" href="/<%- (en == 0) ? 'en/' : '' %>chapter-1" >
              1.
              <%if(en == 0){%>
                Foreword
              <% } else {%>
                前言
              <% } %>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="/<%- (en == 0) ? 'en/' : '' %>chapter-2" >
              2.
              <%if(en == 0){%>
                Talent Shareholding Plan
              <% } else {%>
                精英持股计划
              <% } %>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="/<%- (en == 0) ? 'en/' : '' %>chapter-3" >3.
              <%if(en == 0){%>
                A Brand New Company Structure
              <% } else {%>
                全新公司架构
              <% } %>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="/<%- (en == 0) ? 'en/' : '' %>chapter-4" >4.
              <%if(en == 0){%>
                Changing the Rules
              <% } else {%>
                重写游戏规则
              <% } %>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="/<%- (en == 0) ? 'en/' : '' %>chapter-5" >5.
              <%if(en == 0){%>
                Our Mission
              <% } else {%>
                我们的使命
              <% } %>
            </a>

          </li>
        </ul>
      </div>
      <div class="offcanvas-footer">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="" class="text-muted text-primary-hover"><i class="bi bi-facebook fs-lg"></i></a></li>
          <li class="list-inline-item ms-1"><a href="" class="text-muted text-primary-hover"><i class="bi bi-twitter fs-lg"></i></a></li>
          <li class="list-inline-item ms-1"><a href="" class="text-muted text-primary-hover"><i class="bi bi-linkedin fs-lg"></i></a></li>
        </ul>
      </div>
    </div>




























<%- body %>



  <!-- footer -->
  <footer class="py-15 py-xl-20 bg-black inverted border-top">
    <div class="container">
      <div class="row g-4 g-lg-5 mb-10">
        <div class="col-md-3 text-center text-md-start">
          <a href="/<%- (en == 0) ? 'en/' : '' %>index.html" class="navbar-brand">
    <span style="color:#dc7257;font-size:39px;font-weight:600">A</span>
            PLAN</a>  </div>
        <div class="col-md-4 col-lg-5 text-center text-md-start">
          <ul class="list-unstyled">
            <li class="mb-1"><a href="/<%- (en == 0) ? 'en/' : '' %>chapter-1" class="text-reset text-primary-hover"><%if(en == 0){%>
              Foreword
            <% } else {%>
              前言
            <% } %></a></li>
            <li class="mb-1"><a href="/<%- (en == 0) ? 'en/' : '' %>chapter-2" class="text-reset text-primary-hover">
              <%if(en == 0){%>
                Talent Shareholding Plan
              <% } else {%>
                精英持股计划
              <% } %>
            </a></li>
            <li class="mb-1"><a href="/<%- (en == 0) ? 'en/' : '' %>chapter-3" class="text-reset text-primary-hover">
              <%if(en == 0){%>
                A Brand New Company Structure
              <% } else {%>
                全新公司架构
              <% } %>
            </a></li>
            <li class="mb-1"><a href="/<%- (en == 0) ? 'en/' : '' %>chapter-4" class="text-reset text-primary-hover">
              <%if(en == 0){%>
                Changing the Rules
              <% } else {%>
                重写游戏规则
              <% } %>
            </a></li>
            <li><a href="/<%- (en == 0) ? 'en/' : '' %>chapter-5" class="text-reset text-primary-hover">
              <%if(en == 0){%>
                Our Mission
              <% } else {%>
                我们的使命
              <% } %>
            </a></li>
          </ul>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="grouped-inputs border p-1 rounded-pill">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control rounded-pill px-3" aria-label="Text input" placeholder="Your email">
              </div>
              <div class="col-auto">
                <a href="" class="btn btn-red btn-icon rounded-circle"><i class="bi bi-arrow-return-left"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center g-1 g-lg-6 text-muted">
        <div class="col-md-6 col-lg-5 order-lg-2 text-center text-md-start">
          <ul class="list-inline small">
            <li class="list-inline-item"><a href="" class="text-reset text-primary-hover">facebook</a></li>
            <li class="list-inline-item ms-1"><a href="" class="text-reset text-primary-hover">twitter</a></li>
            <li class="list-inline-item ms-1"><a href="" class="text-reset text-primary-hover">linkedin</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4 text-center text-md-end order-lg-3">
          <span class="small">5th Avenue, New York USA 10255</span>
        </div>
        <div class="col-lg-3 order-lg-1 text-center text-md-start">
          <p class="small">Copyrights © 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- javascript -->
  <script src="/assets/js/vendor.bundle.js"></script>
  <script src="/assets/js/index.bundle.js"></script>

</body></html>
